/* Enter your custom styles here */
.productCatalogContainer {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* 타일 간격 조정 */
}

.productTile {
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: white;
  width: 30%;
  /* 타일 너비 고정 (3열 기준) */
  max-width: 300px;
  /* 최대 크기 제한 */
  min-height: 250px;
  /* 높이 고정 */
  text-align: center;
}

.productParent {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: white;
  max-width: 270px;
  /* 최대 크기 제한 */
  min-height: 250px;
  /* 높이 고정 */
  text-align: center;
}

/* 클릭 시 약간 확대 효과 */
.productParent:active {
  transform: scale(0.98);
  /* 살짝 축소 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  /* 그림자 감소 */
}


.productImage {
  margin-top: 2px;
  margin-bottom: 10px;
}

.productTitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.productDescription {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.productPrice {
  font-weight: bold;
  color: #ff5722;
  margin-bottom: 5px;
}

.productFullPrice {
  text-decoration: line-through;
  color: gray;
}

.scrollContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.centeredContainer {
  width: 100%; /* 화면 전체 너비 */
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  box-sizing: border-box; 
  background-color: #f9f9f9; 
}

.scrollContainer {
  max-width: 100%; 
  max-height: 85vh;
  width: 100%; 
  height: auto; 
  padding: 20px; 
  background-color: #ffffff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  overflow-y: auto; 
  overflow-x: hidden;
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 */
}

.FertscrollContainer {
  max-width: 100%; 
  max-height: 100%;
  width: 100%; 
  height: 100%; 
  background-color: #ffffff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  overflow-y: auto; 
  overflow-x: hidden;
}

.FertscrollContainer::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 */
}

.textLeftAlign {
  margin-left: 0;
}

.descriptionPadding {
  padding-left: 50px; /* 원하는 왼쪽 패딩 값 */
}

.buttonContainer {
  margin-top: 10px; /* 버튼 위 여백 */
  margin-bottom: 10px; /* 버튼 아래 여백 */
}
.quantitySelector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantityInput {
  text-align: center;
  padding: 0.3rem;
}

.quantityButton {
  padding: 0.5rem;
  cursor: pointer;
}

.actionSection {
  padding-right: 50px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.awardTitleBox {
  margin-bottom: 20px;
}

.awardMainTitle {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.awardSubTitle {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.awardRow {
  margin-top: 20px;
}

.awardBox {
  width: 220px;
  height: 200px;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px; /* 각 박스에 10px 간격 추가 */

  /* Flexbox로 중앙 정렬 */
  display: flex; /* 플렉스박스 활성화 */
  flex-direction: column; /* 요소를 세로로 정렬 */
  justify-content: center; /* 세로 방향 중앙 정렬 */
  align-items: center; /* 가로 방향 중앙 정렬 */
}
.awardHeader {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.awardSubheader {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.awardDescription {
  font-size: 8px;
  color: #333;
  font-weight: bold;
  margin-top: 5px;
}
.awardDescription2 {
  font-size: 8px;
  color: #333;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}
.awardBox1 {
  width: 300px;
  height: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 10px; /* 각 박스에 10px 간격 추가 */
}
.awardImage {
  padding-bottom: 90px;
}

.priceLabel {
  padding-right: 10px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.priceValue {
  font-size: 18px;
  font-weight: bold;
}

.specContainer{
  width: auto;
}

.customTable{
  justify-content: center;
}

.iceclass{
  padding: 10px;
  justify-content: center;
}